<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" type="text/css" href="/../stylesheets/mainsite.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script src="../javascripts/trailer.js"></script>

<% if(title === 'Welcome') { %> 
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<% } else if (title === 'Login | Register') { %> 
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<% } else if (title === 'Movie Index') { %> 
  <link rel="stylesheet" type="text/css" href="/../stylesheets/movieindex.css">
<% } else if (title === 'Movie') { %> 
  <link rel="stylesheet" type="text/css" href="/../stylesheets/movieshow.css">
<% } else if (title === 'Your Reviews') { %> 
  <link rel="stylesheet" type="text/css" href="/../stylesheets/user-reviews.css">
<% } else if (title === 'Edit') { %> 
  <link rel="stylesheet" type="text/css" href="/../stylesheets/user-reviews.css">
<% } else { %> 
  <link rel="stylesheet" type="text/css" href="/../stylesheets/mainsite.css">
<% }%> 

<title><%= title.toUpperCase() %></title>

</head>

<body> 

<header>
<div class="nav">
  <div class="nav-header">
    <div class="nav-title">
      <a class="popcorn" href="/movies">SHARE//ME</a>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <input type="checkbox" id="nav-check">
  <div class="nav-links">
  <a href="/movies">POPULAR MOVIES &nbsp |</a> 
  <a href="/movies/top-rated">TOP RATED MOVIES &nbsp |</a> 
  <% if (thatUser) { %>
    <a href="/reviews/<%= thatUser && thatUser._id%>"><%= thatUser && thatUser.username.toUpperCase()%> &nbsp |</a>
    <a href="/authentication/logout" alt="logout">LOGOUT &nbsp</a>
  <% } else { %>
    <a href="/users/new" alt="login">LOGIN &nbsp</a>
  <% } %>
  </div>
</div>

</header>

