<%- include("./partials/header") %>

<video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
  <!-- 
- Video needs to be muted, since Chrome 66+ will not autoplay video with sound.
WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="https://s3.amazonaws.com/freestock-transcoded-videos-prod/transcoded/freestock_v5245247.mp4" type="video/webm">
<source src="https://s3.amazonaws.com/freestock-transcoded-videos-prod/transcoded/freestock_v5245247.mp4" type="video/mp4">

</video>
<div id="polina">
<h1>POPCORN</h1>
<h4>Login</h4>
<form action="users/new" method="POST">
  <input type="text" name="username" placeholder="username"><br>
  <input type="email" name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>
  <button type="submit">Login</button>
</form>
</div>

<%- include("./partials/footer") %>