* {
    box-sizing: border-box;
    margin: 0;
}


body {
    font-family: 'Dosis', sans-serif;
}

header {
    position: fixed;
    width: 100%;
}

h2 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 10%;
}


.review-form {
    align-content: center;
    text-align: center;
}

form {
    padding: 2%;
}


.user-reviews {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
}

.p-review {
    font-size: 17px;
    text-align: left;
    padding: 5px;
    margin-top: 20px;
    margin-left: 2%;
}

img {
    margin-left: 35%;
}

#polina button { 
font-family: 'Dosis', sans-serif;
display: block;
padding: .4rem;
border: none; 
margin-left: 1rem;
font-size: 1.3rem;
color: black;
border-radius: 3px; 
cursor: pointer;
transition: .3s background;
}

#polina button:hover { 
    background: rgba(0,0,0,0.5);
}








.nav {
    font-family: 'Dosis', sans-serif;
    height: 50px;
    width: 100%;
    background-color: #242222;
    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}





  
.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel-1 {
    background: #4dab6b;
    color: #fff;
}

.content {
    max-width: 600px;
}













.card {
    width: 100%;
  }
  
  .container {
    padding: 2px 16px;
  }