* {
    box-sizing: border-box;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 200px;
    margin-left: 200px;

}

header {
    position: fixed;
    width: 100%;
}

body {
    background: rgba(255, 255, 255, 0.623)
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 4rem;
    padding-top: 4%;
}

.each-movie {
    padding: 8px;
}

.nav {
    font-family: 'Dosis', sans-serif;
    height: 50px;
    width: 100%;
    background-color: #242222;
    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}