<%- include("../partials/header") %>
<h1>New Review</h2>
     <main>

     <form action="/reviews/<%=user.id%>" method="POST">
     <%=user.name.toUpperCase()%>  
     <br>
     <p>TITLE:</p> <input type="text" name="title">
     <p>REVIEW:</p> <input type="text" name="review">
     <p>RATING:</p> 
     <select name="rating">
     <option value = 1> This popcorn is stale...</option>
     <option value = 2> This popcorn needs butter </option>
     <option value = 3> This popcorn was okay. </option>
     <option value = 4> This popcorn was great! </option>
     <option value = 5> This is the best !@#$@# Popcorn!</option>
     </select><br><br>
     <button type="submit">Enter New Review</button>
     </form>
     </main>
     
 <%- include("../partials/footer") %>