<%- include("../partials/header") %>

<main>

<h1>Edit Your Info</h1>

<form action="/users/<%=user._id%>?_method=PUT" method="POST">

Username: <input type="text" name="user" value="<%=user.username%>"><br>
Password: <input type="password" name="password"><br>
Email: <input type="email">

<button type="submit">Edit</button>

</form>


</main>

<%- include("../partials/footer") %>
