<%- include("./partials/header") %>

<main>

<h1>Edit This User</h1>

<form action="/users/<%=user._id%>?_method=PUT" method="POST">

Username: <input type="text" name="user" value="<%=user.user%>"><br>
Password: <input type="text" name="password"><br>

<button type="submit">Edit</button>

</form>

<a href="/users">See All Dem Users</a>

</main>

<%- include("./partials/footer") %>