<%- include("../partials/header") %>

<header>
<h1>Welcome POPCORN</h1>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">MOVIES</a></li>
    </ul>
</nav>
</header>

<main>
<form action="/users" method="POST">
    <input type="text" name="name">
    <button type="submit">Add Review</button>
</form>
</main>

<%- include("../partials/footer") %>