<%- include("../partials/splash", {title: 'Login | Register'}) %>


<div id="polina" class="login">


<h4>LOGIN</h4>


<form action="/authentication/login" method="POST">
  <input type="text" name="username" placeholder="username"><br>
  <input type="email" name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>
  <button type="submit">Login</button>
</form>

<%=message%>

<button onclick="myFunction()">Register Here</button>

<div id="myDIV" style="display: none;">
<h4>REGISTER</h4>
<form action="/authentication" method="POST">
<input type="text" name="username" placeholder="username" /><br />
<input type="email" name="email" placeholder="email" /><br />
<input type="password" name="password" placeholder="password" /><br />
<button type="submit">Register</button>
</form>
</div>

</div>

<%- include("../partials/footer") %>