<%- include("../partials/header") %>

<main class="new-photos">
<h1> New Users </h1>
<form action="/users" method="post">
<p>Username:</p> <input type="text" name="username"> <br>
<p>Email:</p> <input type="email" name="email"><br>
<p>Password:</p> <input type="password" name="password"><br>
<button type="submit">New User</button>
</form>
</main>

<%- include("../partials/footer") %>